.cart-list {
  @media (min-width: @tablet-width) {
    order: 0;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    flex-grow: 1;
    padding-right: 52px;
    justify-content: flex-end;
  }
}

.cart-list__item--cart {
  @media (min-width: @desktop-width) {
    padding-left: 82px;
  }
}

.cart-list__search {
  position: relative;
  display: block;

  @media (min-width: @tablet-width) {
    width: 84px;
    height: 25px;
    border-left: 1px solid @special-gallery;
    border-right: 1px solid @special-gallery;

    span {
      opacity: 0;
      position: absolute;
    }
  }
}

.cart-list__icon {
  position: absolute;
  box-sizing: border-box;
  left: 36px;
  top: 41%;
  width: 17px;
  height: 17px;
  fill: @basic-black;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    left: 36px;
  }

  @media (min-width: @desktop-width) {
    left: 33px;
  }

  .cart-list__link:hover &,
  .cart-list__link:focus & {
    fill: @basic-downy;
    opacity: 1;
  }

  .cart-list__link:focus & {
    fill-opacity: 0.3;
  }
}

.cart-list__icon--cart {
  @media (min-width: @tablet-width) {
    left: -51px;
    top: 40%;
  }

  @media (min-width: @desktop-width) {
    left: -50px;
  }
}
