.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    @features-shift: -64px;
    top: @features-shift;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2px;
    padding-left: 175px;
    padding-bottom: 43px;
  }
}

.contacts__wrapper {
  padding-top: 21px;
  padding-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 51px;
    padding-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-right: 0;
    padding-bottom: 38px;
    padding-top: 127px;
    width: 400px;
    flex-direction: unset;
    align-content: flex-start;
  }
}

.contacts__title {
  margin: 18px auto 18px 0;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    flex-grow: 1;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-size: image-size("../img/icon-flag.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      left: -112px;
      right: auto;
    }
  }
}

.contacts__list {
  margin: 0;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 31px;

    & :last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 27px;
  }
}

.contacts__item {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @basic-tundora;

  @media (min-width: @tablet-width) {
    margin-right: 49px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.contacts__property {
  margin-right: 31px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-right: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 29px;
  }
}

.contacts__value {
  margin: 0;
  max-width: 180px;

  a {
    text-decoration: none;
    color: @basic-tundora;

    @media (min-width: @tablet-width) {
      border-bottom: 1px solid @special-downy;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 240px;
  }
}

.contacts__map {
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 69px;
    right: 50px;
    margin-bottom: 0;
    width: 527px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  @media (min-width: @desktop-width) {
    padding: 0;
    width: 230px;
    min-width: auto;
    margin-top: 19px;
    margin-left: 50px;
  }
}

.contacts__button {
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
