.contacts {
  position: relative;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 21px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 69px 50px 104px;
    width: 1050px;
  }
}

.contacts__wrapper {
  padding-top: 4px;
  padding-bottom: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 33px;
    padding-left: 175px;
    padding-bottom: 32px;
    width: 525px;
  }
}

.contacts__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-size: image-size("../img/icon-flag.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      left: -112px;
      right: auto;
    }
  }
}

.contacts__list {
  margin: 28px auto 0;
  max-width: 300px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;
    margin-bottom: 39px;
    max-width: 668px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 38px;
    margin-bottom: 20px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contacts__property {
  margin: 0;
  margin-right: 31px;
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 17px;
    width: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__value {
  margin: 0;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }

  a {
    font-size: 15px;
    color: @basic-tundora;
    text-decoration: none;
    border-bottom: 1px solid @special-downy;
    padding-bottom: 4px;

    @media (min-width: @tablet-width) {
      font-size: 17px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 8px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 21px;
    margin-bottom: 0;
    width: 257px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    width: 222px;
  }
}

.contacts__map {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 69px;
    right: 50px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  @media (min-width: @desktop-width) {
    margin-left: 175px;
    padding: 0;
    width: 230px;
    min-width: auto;
  }
}

.contacts__button {
  font-size: 18px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 17px;

    padding-top: 15px;
    padding-bottom: 15px;
    width: 230px;
  }
}
