.features__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.features__item {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 31px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-white;

  @media (min-width: @mobile-width-only) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 34px;
    font-size: 20px;
    line-height: 30px;
  }
}

.features__item--interior {
  background-color: @basic-aquamarine;
}

.features__item--toys {
  background-color: @basic-dark-aquamarine;
}
