.form {
  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 8px;
}

.form__content {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 19px;
  }
}

.form__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  @media (min-width: @desktop-width) {

    grid-template-columns: 16% 84%;
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__item {
  padding-bottom: 23px;

  @media only screen and (min-width: 349px) and (max-width: 767px) {
    padding-bottom: 30px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 58px;
  }
}

.form__input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-tundora;
  border: none;
  outline: none;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }

  &::placeholder {
    color: @basic-tundora;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    + .form__icon {
      fill-opacity: 1;
      fill: @special-downy;
      border-color: @special-downy;
    }
  }

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 25px;
    height: 1px;
    background-color: @basic-downy;
  }
}

.form__input-wrapper {
  padding: 0;
  margin: 0;
}

.form__input:focus + .form__label::before {
  box-shadow: 0 0 0 2px @special-downy;
}

.form__title {
  display: block;
  padding: 0;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: @basic-downy;
  text-transform: uppercase;
}

.form__text {
  display: flex;
  align-items: center;
  padding-left: 3px;

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 25px;
    height: 1px;
    background-color: @basic-downy;

    @media (min-width: @tablet-width) {
      content: none;
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 60px;
  }
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  padding-left: 65px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding-left: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 85px;
  }
}

.form__colors {
  @media (min-width: @tablet-width) {
    background-color: @basic-gray;
  }
}

.form__information {
  @media (min-width: @tablet-width) {
    background-color: @basic-gray;
  }
}

.form__input--information {
  @media (min-width: @tablet-width) {
    background-color: @basic-gray;
  }
}

.form__required-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-width: 670px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 700px;
  }
}

.form__required {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 31px;
  margin-right: 7px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }
}

.filter-column__button {
  width: 260px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;


  @media (min-width: @tablet-width) {
    margin: 0;
    width: 230px;
  }
}
