.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
    width: 400px;
  }
}

.main-nav__list a {
  position: relative;
  display: block;
  text-align: start;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @basic-black;
  text-decoration: none;
  border-bottom: 1px solid @special-gallery;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 31px;
    border-bottom: none;
  }
}

.main-nav__link {
  &[href]:hover {
    color: @basic-black-opacity-03;
  }

  &[href]:focus {
    color: @basic-black-opacity-06;
  }
}
