.page-header__title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: auto;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @basic-black;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}
