.page-footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    padding-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 39px;
    padding-bottom: 39px;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: 83px;
  }
}

.page-footer__copyright {
  margin-top: 14px;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 184px;
  }
}
