
.product-type__label {
  padding-bottom: 23px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 5px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: @basic-downy;
    border-radius: 50%;
  }

  .product-type__input:checked + &::after {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 42px;
    height: 42px;
    border: 2px solid @basic-black;
    border-radius: 50%;
  }
}

.product-type__input {
  display: none;
}
