// Colors

@basic-black: #000000;
@basic-dark: #231F20;
@basic-gray: #F1F1F1;
@basic-white: #FFFFFF;
@basic-aquamarine: #63D1BB;
@basic-dark-aquamarine: #56C3B2;

@font-basic-dark: #444444;
@border-bottom-color: #ECECEC;
@special-icon-black: #231F20;
@icon-bottom-color: #E5E5E5;

// Viewports

@mobile-width-only: 320px;
@tablet-width: 770px;
@desktop-width: 1140px;

