// Colors

@basic-black: #000000;
@basic-black-hover: fade(@basic-black, 60%);
@basic-black-focus: fade(@basic-black, 30%);
@basic-dark: #231F20;
@basic-gray: #F1F1F1;
@basic-white: #FFFFFF;
@basic-downy: #63D1BB;
@basic-fountain-blue: #56C3B2;
@basic-tundora: #444444;

@special-blue-chill:#149080;
@special-gallery: #ECECEC;
@special-thunder: #231F20;
@special-mercury: #E5E5E5;
@special-downy: #62D1BA;

// Viewports

@mobile-width-only: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;

